<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <!--**********************************   BROWSERS   ******************************-->
        <add key="Edge" value="C:\Program Files (x86)\Microsoft\Edge\Application\msedge.exe" />
        <add key="Chrome" value="C:\Program Files\Google\Chrome\Application\chrome.exe" />
        <add key="FireFox" value="C:\Program Files\Mozilla Firefox\firefox.exe" />
        <!--*********************************      KEYS     ******************************-->
        <add key="UI" value="Ngo9BigBOggjHTQxAR8/V1NAaF5cWWJCf1FpRmJGdld5fUVHYVZUTXxaS00DNHVRdkdnWXhcdnRcQ2RdVE11WkY=" />
        <add key="SearchEngineId" value="a2f030f4bfacb4008" />
        <add key="EPPlus:ExcelPackage.LicenseContext" value="NonCommercial" />
    </appSettings>
</configuration>